.d1 {
  background-image: url('../img/dropdown/d1.jpg');
  background-repeat: no-repeat;
}

.d2 {
  background-image: url('../img/dropdown/d2.jpg');
  background-repeat: no-repeat;
}

.d3 {
  background-image: url('../img/dropdown/d3.jpg');
  background-repeat: no-repeat;
}

.d4 {
  background-image: url('../img/dropdown/d4.jpg');
  background-repeat: no-repeat;
}

.d5 {
  background-image: url('../img/dropdown/d5.jpg');
  background-repeat: no-repeat;
}

.d6 {
  background-image: url('../img/dropdown/d6.jpg');
  background-repeat: no-repeat;
}

.d7 {
  background-image: url('../img/dropdown/d7.jpg');
  background-repeat: no-repeat;
}

.d8 {
  background-image: url('../img/dropdown/d8.jpg');
  background-repeat: no-repeat;
}

.d9 {
  background-image: url('../img/dropdown/d9.jpg');
  background-repeat: no-repeat;
}

.d10 {
  background-image: url('../img/dropdown/d10.jpg');
  background-repeat: no-repeat;
}

.d11 {
  background-image: url('../img/dropdown/d11.jpg');
  background-repeat: no-repeat;
}

.d12 {
  background-image: url('../img/dropdown/d12.jpg');
  background-repeat: no-repeat;
}

.d13 {
  background-image: url('../img/dropdown/d13.jpg');
  background-repeat: no-repeat;
}

.d14 {
  background-image: url('../img/dropdown/d14.jpg');
  background-repeat: no-repeat;
}

.d15 {
  background-image: url('../img/dropdown/d15.jpg');
  background-repeat: no-repeat;
}

.d16 {
  background-image: url('../img/dropdown/d16.jpg');
  background-repeat: no-repeat;
}

.d17 {
  background-image: url('../img/dropdown/d17.jpg');
  background-repeat: no-repeat;
}

.d18 {
  background-image: url('../img/dropdown/d18.jpg');
  background-repeat: no-repeat;
}

.d19 {
  background-image: url('../img/dropdown/d19.jpg');
  background-repeat: no-repeat;
}

.d20 {
  background-image: url('../img/dropdown/d20.jpg');
  background-repeat: no-repeat;
}
