.p1 {
  background-image: url('../img/projects/p1.png');
}

.p2 {
  background-image: url('../img/projects/p2.png');
}

.p3 {
  background-image: url('../img/projects/p3.png');
}

.p4 {
  background-image: url('../img/projects/p4.png');
}

.p5 {
  background-image: url('../img/projects/p5.png');
}

.p6 {
  background-image: url('../img/projects/p6.png');
}

.p7 {
  background-image: url('../img/projects/p7.png');
}

.p8 {
  background-image: url('../img/projects/p8.png');
}

.p9 {
  background-image: url('../img/projects/p9.png');
}

