.invisible {
  z-index: -1;
}

.burger__img {
  width: 130px;
  height: 60px;
}

.burger__text {
  max-width: 130px;
}

.burger__btn > svg {
  width: 10px;
}

.burger__fact-date {
  display: none;
}

.publication__filter {
  margin-bottom: 30px;
}

.contacts__social {
  width: 50px;
}

.footer__container {
  flex-direction: column-reverse;
  align-items: center;
}

.tablet__wrapper-767 {
  padding-bottom: 27px;
}

.social-list__img {
  height: 50px;
  width: 50px;
}

.social-list__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer__socail {
  margin-bottom: 15px;
}

.footer__logo {
  height: 22px;
}
