:root {
  --violet: #9D5CD0;
  --white: #ffffff
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.reset {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.white {
  color: var(--white);
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  transform: translateX(-6px);
}

.d-none {
  display: none;
}

/* header */


.header {
  font-size: 0;
  color: var(--white);
  z-index: 1;
}

.header__top {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  z-index: 100;
}


.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1630px;
}

.header__container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__logo {
  margin-right: 180px;
}
.header__logo-1024 {
  display: none;
}

.header__bottom {
  position: relative;
  padding-top: 26px;
  padding-bottom: 22px;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.flex {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 63px;
  letter-spacing: 1.1px;
}

.header__link {
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.header__link:focus,
.hero__login:focus,
.hero__form:focus,
.hero__item:focus {
  outline: 2px solid #7943A4;
}



.header__link:hover ,
.hero__login:hover,
.hero__item:hover .hero__option,
.hero__item:hover .hero__arrow {
  color: #C283F3;
  cursor: pointer;
}

.header__link:active,
.hero__login:active,
.hero__select:active {
  color: #7943A4;
}

.violet {
  color: #7943A4;
}

.hero__form:hover .hero__btn,
.hero__form:hover .hero__input {
  color: #C283F3;
  border-color: #C283F3;
  cursor: pointer;
}

.hero__login {
  font-size: 16px;
  margin-left: auto;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

/* dropdown */

.dropdown {
  position: absolute;
  top: 41px;
  left: 0;
  padding: 40px;
  width: 0;
  height: 0;
  background-color: transparent;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.dropdown-visible {
  width: 300px;
  height: 300px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown__list {
  padding: 2px;
  width: 241px;
  height: 230px;
}


.simplebar-scrollbar::before {
  left: 0;
  width: 2px;
  background-color: #9D5CD0;
  z-index: 10;
}

.simplebar-track.simplebar-vertical {
  background-color: black;
  width: 2px;
}

.dropdown__item {
  max-width: 220px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  transition: outline 0.3s ease;
}

.dropdown__link {
  padding-left: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dropdown__link:hover,
.dropdown__link:focus {
  outline: 2px solid #9D5CD0;
  cursor: pointer;
}

.dropdown__item:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
  outline: 2px solid #D1A9F0;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}


/* HERO */

.main {
}

.hero {
  position: relative;
  margin-top: -70px;
  padding-top: 71px;
  width: 100%;
}

.hero__swiper-wrapper {
  position: absolute !important;
  top: 0;
}


.hero__slide-img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.hero__list {
  margin-right: auto;
}

.hero__select {
  padding: 0;
}

.hero__item:not(:last-child) {
  margin-right: 102px;
}

.hero__item {
  position: relative;
  flex-direction: row-reverse;
}

.hero__arrow {
  color: inherit;
}

.rotate {
  color: #7943A4;
  transform: rotate(180deg);
}

.hero__select {
  padding: 0;
  background-color: transparent;
  color: var(--white);
  border: none;
}

.hero__option {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.1px;
  transition: all 0.3s ease;
}

.hero__form {
  position: relative;
  z-index: 100;
  transition: all 0.3s ease;
}

.hero__btn {
  display: block;
  margin-right: 20px;
  width: 22px;
  height: 22px;
  color: var(--white);
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header__btn {
  display: none;
}

.hero__input {
  font-size: 16px;
  width: 220px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
  transition: all 0.3s ease;
}

.hero__input::placeholder,
.hero__input:-ms-input-placeholder,
.hero__input::-ms-input-placeholder {
  color: var(--white);
  letter-spacing: 1px;
}


.hero__container {
  position: relative;
  padding-top: 73px;
  padding-bottom: 122px;
  max-width: 600px;
  color: var(--white);
  font-weight: 700;
  z-index: 5;
}

.hero__title{
  margin-bottom: 20px;
  font-size: 72px;
  transform: translateX(-6px);
}

.hero__text {
  margin-bottom: 90px;
  font-size: 18px;
  line-height: 30px;
}

.hero__button {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 700;
  padding: 22px 32px;
  font-size: 18px;
  background-color: var(--violet);
  color: var(--white);
  border: 3px solid var(--violet);
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero__button:focus {
  border: 3px solid #7943A4;
  outline: none;
}

.hero__button:hover {
  border: 3px solid #D1A9F0;
  outline: none;
}

.hero__btn:active,
.hero__button:active {
  background-color: #7943A4;
}

/* ABOUT US */

.about-us {
  padding-top: 85px;
  padding-bottom: 70px;
}

.about-us__title {
  margin-bottom: 21px;
}

.about-us__text {
line-height: 32px;
max-width: 1085px;
}

/* gallery */

.gallery {
  position: relative;
  padding: 85px 0 51px 0;
  background: url('../img/birmingham-museums.jpg') no-repeat;
  background-size: cover;
}

.gallery__container {
  display: flex;
}

.section-title-gallery {
  margin-bottom: 30px;
  transform: translateX(-6px);
}

.gallery__filter {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  /* flex-basis: 400px; */
}

.gallery__form {
  margin-bottom: auto;
}

.gallery__field {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--white);
  font-weight: 600;
  border: none;
}

.gallery__input {
  padding-left: 20px;
  height: 38px;
  border: 1px solid #999999;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
}

.gallery__description {
  transform: translateY(-20px);
  line-height: 32px;
  max-width: 350px;
  font-weight: 600;
}

.gallery__swiper {
  position: relative;
  width: 1500px;
  height: 860px;
  overflow-x: hidden;
}

.gallery__link {
  color: #C283F3;
  outline: none;
  transition: color 0.3s ease;
}

.gallery__link:hover,
.gallery__link:focus {
  color: #7943A4;
}

.gallery__swiper-wrapper {
  top: 80px;
  height: 350px;
}

.gallery__swiper-pagination {
  margin-right: 17px;
  display: inline-block;
  position: relative;
  top: 0;
  width: auto;
  text-align: center;
  color: var(--white);
  z-index: 1;
}

.gallery__slider-img {
  width: 350px;
  height: 350px;
}

.gallery__swiper-slide {
  position: relative;
  outline: none;
  z-index: 15;
}

.gallery__swiper-slide:focus {
  outline: 3px solid #7943A4;
}

.gallery__swiper-slide::after {
  position: absolute;
  content: '';
  top: 25px;
  left: 25px;
  width: 300px;
  height: 300px;
  background: url('../img/gallery/hover.png') no-repeat;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gallery__swiper-slide::before {
  position: absolute;
  content: '';
  width: 350px;
  height: 350px;
  background-color: #C283F3;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gallery__swiper-slide:hover.gallery__swiper-slide::after {
  opacity: 1;
}

.gallery__swiper-slide:active.gallery__swiper-slide::before {
  opacity: 0.4;
}
.publication__navigation,
.gallery__navigation {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 0;
  min-width: 150px;
  transform: translate(4px, -330px);
  z-index: 10;
}

.button-prev,
.button-next {
  display: inline-block;
  color: #666666;
  z-index: 50;
  outline: none;
  transition: color 0.3s ease;
}

.button-prev {
  margin-right: 17px;
}

/* gallery svg */
.round {
  transition: fill 0.3s ease;
}

.line {
  stroke-width: 2px;
}
/*  */


.button-prev:focus,
.button-next:focus {
  color: #7943A4;
}

.button-prev:hover,
.button-next:hover,
.button-prev:hover .round,
.button-next:hover .round {
  fill: #9D5CD0;
  color: #9D5CD0;
  cursor: pointer;
}

.button-prev:active .round,
.button-next:active .round{
  fill: #7943A4;
}

/* Choises */

.choices {
  opacity: 0.5;
  margin-bottom: 0;
  width: 400px;
}

.choices__list--dropdown .choices__item {
  padding-left: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  border: none;
}

.choices__list--single {
  padding: 3px 16px 4px 7px;
  letter-spacing: 1px;
}

.choices__inner {
  background-color: transparent;
  border-radius: 6px;
  min-height: 40px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}

.choices__list--dropdown .choices__item {
  border: 1px solid;
}

.choices[data-type*=select-one] .choices__input {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(0, 0, 0, 0.8);
}

.is-selected {
  display: none;
}

.choices__list--single::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 16px;
  right: 11px;
  width: 15px;
  height: 10px;
  background-color: black;
  background-image: url('../img/icons/dropdown-ar.svg');
  background-repeat: no-repeat;
  z-index: 1;
  /* transition: transform; */
}

.is-open .choices__list--single::after {
  transform: rotate(180deg) translateX(2px);
}

/* gallery modal window */

.modal {
  display: flex;
  position: fixed;
  /* top: 198px; */
  left: -9999px;
  width: 900px;
  z-index: 100;
  opacity: 0;
  box-shadow: 1px 1px 5px #ccc;
  transition: opacity 0.8s ease;
}

.modal-visible {
  /* left: 125px; */
  opacity: 1;
}

.modal__img {
  object-fit: cover;
  width: 400px;
  height: 500px;
  background-color: #ccc;
}

.modal__article {
  padding-top: 124px;
  padding-left: 48px;
  padding-right: 50px;
}

.article {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  color: #333333;
}

.article__artist {
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 600;
}

.article__name {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
}

.article__years {
  margin-bottom: 8px;
  font-size: 12px;
  color: #969696;
}

.article__description {
  line-height: 32px;
}

.modal__btn {
  position: absolute;
  background-color: transparent;
  background: url('../img/icons/close_btn.svg') no-repeat;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
}


/* CATALOGUE */

.catalogue {
  padding-top: 88px;
}

.title__wrapper {
  margin-bottom: 7px;
  display: flex;
}

.catalogue__title {
  margin-right: 31px;
}

.catalogue__wrapper {
  display: flex;
}

.catalogue__list {

}

.catalogue__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  transform: translateY(-5px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.catalogue__item:hover  {
  box-shadow: 0 0 20px rgba(157, 92, 208, 0.7);
}

.catalogue__item:active {
  border: 2px solid #9d5cd0;
}

.catalogue__item-checked {
  border: 2px solid #9d5cd0;
}

.catalogue__item:not(:last-child) {
  margin-right: 30px;
}

.catalogue__img {
}

.catalogue__description {
  margin-bottom: 39px;
  line-height: 32px;
  max-width: 1080px;
}

.catalogue__article {
  margin-right: 50px;
  max-width: 750px;
}

.article__img {
  margin-bottom: 30px;
  max-width: 750px;
}

.catalogue__accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion {
}

.accordion__btn {
  position: relative;
  padding: 43px 0;
  text-align: start;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.5s ease;
  cursor: pointer;
}

.accordion__btn:focus {
  outline: none;
}

.accordion__btn:focus .accordion__year {
  outline: 2px solid #7943A4;
}

.accordion__btn:focus.accordion__btn::after {
  background: url('../img/icons/accordion_btn-border.svg') no-repeat;
}

.accordion__btn:hover,
.accordion__btn:hover .accordion__year {
  color: #9d5cd0;
  outline: none ;
}

.accordion__btn:hover.accordion__btn::after{
  background: url('../img/icons/accordion_btn-v.svg') no-repeat;
}

.accordion__btn:active.accordion__btn::after{
  background: url('../img/icons/accordion_btn-active.svg') no-repeat;
}

.accordion__btn::after {
  position: absolute;
  right: 0;
  top: 32px;
  content: '';
  height: 50px;
  width: 50px;
  background: url('../img/icons/accordion_btn.svg') no-repeat;
  transition: background 0.5s ease;
}

.ui-accordion-header-active.accordion__btn::after {
  transform: rotate(180deg);
}

.accordion__content {
}
.content {
}

.content__list {
  margin: 0;
  padding: 32px 0;
  display: flex;
  flex-flow: column wrap;
  height: 360px;
  max-width: 763px;
}

.content__link {
  transition: color 0.3s ease;
}

.content__link:hover {
  color: #9d5cd0;
  text-decoration: underline;
}

.content__item:not(:last-child) {
  margin-bottom: 14px;
}

.content__link:focus {
  outline: 2px solid #7943A4;
}

.content__link:active {
  outline: none;
  text-decoration: none;
  color: #7943A4;
}

/* EVENTS */

.events {
  padding-top: 63px;
  padding-bottom: 79px;
}

.section-title {
  transform: translateX(-4px);
}

.section-title-events {
  margin-bottom: 20px;
}


.cards {
  margin-bottom: 10px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.cards__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.cards__img {
}

.cards__item {
  font-size: 0;
  flex-basis: 500px;
}

.cards__item:nth-last-child(n+4) {
  margin-bottom: 40px;
}

.cards__descr {
  margin-bottom: 1px;
  color: #999999;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  text-align: right;
}

.cards__container {
  padding: 11px 20px 42px 50px;
  display: flex;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  flex-direction: column;
  font-size: 16px;
  min-height: 400px;
}

.cards__title {
  margin-bottom: 5px;
  line-height: 33px;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  margin-top: 0;
  margin-bottom: auto;
  line-height: 32px;
  max-width: 400px;
}

.cards__link {
  padding-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  color: #9d5cd0;
  text-align: left;
  border-bottom: 1px solid #9d5cd0;
  transition: font-weight 0.3s ease;
}

.cards__link:focus {
  outline: 2px solid #7943A4;
}

.cards__link:hover {
  outline: none;
  text-shadow: 1px 0 0 currentColor;
}

.cards__link:active {
  outline: none;
  text-shadow: 1px 0 0 currentColor;
  color: #7943A4;
}

.events__button {
  margin: 0 auto;
  width: 188px;
}

.btn-white {

  display: block;
  align-self: center;
  height: 59px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 100px;
  color: #9d5cd0;
  background-color: #fff;
  border: 2px solid #9d5cd0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-white:focus,
.btn-white:hover {
  outline: none;
  background-color: #9d5cd0;
  color: #fff;
}

.btn-white:active {
  border-color: #7943A4;
}


/* Publication */

.publication {
  padding-top: 87px;
  padding-bottom: 79px;
  width: 100%;
  background: url('../img/publication.jpg') no-repeat;
  background-size: cover;
}

.publication__filter {
  margin-right: 109px;
}

.publication__title {
  margin-bottom: 19px;
  font-size: 48px;
  font-weight: 400;
}

.publication__category {
  margin-bottom: 41px;
}

.category__title {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.category__list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.category__label {
  display: inline-block;
  color: var(--white);
  font-weight: 400;
  outline: none;
  cursor: pointer;
}

.label-text {
  display: inline-block;
  transition: color 0.3s ease;
}

.category__label:not(:last-child) {
  margin-bottom: 14px;
}

.category__label:focus .label-text {
  outline: 2px solid #7943A4;
}

.category__label:hover .label-text {
  color: #C283F3;
}

.category__label:active .label-text {
  color: #7943A4;
  outline: none;
}

.category__checkbox {
  position: absolute;
  opacity: 0;
}

.category__label::before {
  margin-right: 10px;
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}

.category__checkbox:checked + .category__label::before {
  border-color: #c283f3;
  background: url('../img/icons/round-active.svg') no-repeat center;
}

.category__checkbox:focus + .category__label .label-text {
  outline: 2px solid #D1A9F0;
}

.category__checkbox:checked + .category__label {
  color: #c283f3;
  outline: none;
}


.publication__legend {
  color: var(--white);
  margin-bottom: 17px;
  font-weight: 700;
}

.publication__fieldset {
  display: block;
  padding-left: 17px;
  width: 341px;
  height: 41px;
  border-radius: 6px;
}

.publication__form-text {
  margin-right: 6px;
}

.publication__input {
  margin-right: 8px;
  padding-left: 10px;
  width: 82px;
  height: 100%;
  color: var(--white);
  background-color: rgba(157, 92, 208, 0.5);
  border: none;
}
.publication__input::placeholder {
  color: var(--white);
}

.publication__swiper {
  position: relative;
  width: 1200px;
  overflow-x: hidden;
}

.publication__slider-img {
  margin-bottom: 22px;
}

.slide__wrapper {
  display: flex;
  justify-content: space-between;
}

.slide__description {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 700;
}

.slide__price {
  font-style: italic;
}

.slide__name {
  margin-bottom: 18px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
}

.slide__btn {
  width: 120px;
  height: 40px;
  color: var(--white);
  font-weight: 700;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #9d5cd0;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slide__btn:focus .btn-text {
  outline: 2px solid #7943A4;
}

.slide__btn:hover {
  background-color: #9D5CD0;
}

.slide__btn:active {
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

.publication__swiper-pagination {
  margin-right: 19px;
  position: relative;
  display: inline-block;
  color: var(--white);
  top: 0;
  width: auto;
}

.publication__navigation {
  margin-bottom: 53px;
  transform: translateY(25px);
}

/* PROJECTS */

.projects {
  padding-top: 86px;
  padding-bottom: 79px;
}

.projects__title-main {
  margin-bottom: 20px;
}

.projects__description {
  margin-bottom: 22px;
  max-width: 1064px;
  line-height: 32px;
}

.tooltip {
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  background: url('../img/icons/tooltip.svg') no-repeat;
  cursor: pointer;
}

.tippy-content {
  background: #cacaca;
}

.tippy-arrow::before {
  border-top-color: #cacaca !important;
}

.projects__link {
  font-weight: 600;
  color: #9d5cd0;
}

.projects__link:hover {
  outline: none;
  text-shadow: 1px 0 0 currentColor;
}

.projects__title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 600;
}

.projects__swiper {
  margin: 0 auto;
  position: relative;
  width: 1450px;
  overflow: hidden;
}

.project__img {
  height: 150px;
}

.filter {
  filter: grayscale(1);
  transition: filter 0.3s ease;
}
.filter:focus,
.filter:hover {
  filter: grayscale(0);
  outline: none;
}

.projects-wrapper {
  position: relative;
  justify-content: space-between;
}

.projects__swiper-button-prev,
.projects__swiper-button-next {
  color: #cacaca;
}

.projects__swiper-button-prev {
  margin: 0;
}

/* CONTACTS */

.contacts {
}

.contacts__container {
  margin: 0 auto;
  margin-bottom: 21px;
  padding-left: 156px;
  max-width: 1920px;
}

.contacts__title {

}

.contacts__wrapper {
  margin: 0 auto;
  width: 100%;

}

.contacts__us {
  padding-top: 125px;
  padding-bottom: 73px;
  padding-left: calc((100% - 1600px) / 2);
  flex: 1 1 682px;
  border-top: 1px solid #cacaca;
}

#map {
  flex: 1 1 1238px;
  height: 700px;
}

.contact-card {
  height: 500px;
  max-width: 400px;
}

.contact-cart__title {
  margin-bottom: 14px;
  font-size: 24px;
}

.contact-card__address {
  font-style: normal;
  margin-bottom: 37px;
}

.contact-card__form {
  display: flex;
  flex-direction: column;
}

.contact-card__legend {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 400;
}

.contact-card__input {
  padding-left: 24px;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 100px;
  transition: border-color .3s  ease;
}

.contact-card__input {
  margin-bottom: 23px;
}

.contact-card__input:hover.contact-card__input::placeholder {
  color: #7943A4;
  text-shadow: 1px 0 0 currentColor;
}

.contact-card__input:hover.contact-card__input:-ms-input-placeholder {
  color: #7943A4;
  text-shadow: 1px 0 0 currentColor;
}

.contact-card__input:hover.contact-card__input::-ms-input-placeholder {
  color: #7943A4;
  text-shadow: 1px 0 0 currentColor;
}

.contact-card__input:focus.contact-card__input::placeholder {
  color: #7943A4;
  text-shadow: 1px 0 0 currentColor;
}

.contact-card__input:focus.contact-card__input:-ms-input-placeholder {
  color: #7943A4;
  text-shadow: 1px 0 0 currentColor;
}

.contact-card__input:focus.contact-card__input::-ms-input-placeholder {
  color: #7943A4;
  text-shadow: 1px 0 0 currentColor;
}

.contact-card__input:hover {
  border-color: #7943A4;
}

.contact-card__input:focus {
  border-color: #7943A4;
  outline: none;
}

.contact-card__btn {
  margin-bottom: 39px;
  width: 157px;
  align-self:flex-start;
}

.contacts__list {
}

.contacts__item {
}

.contacts__item:not(:last-child) {
  margin-right: 20px;
}

.contacts__link {

}

.contacts__social {
  border-radius: 50px;
}

.contacts__link:focus {
  outline: 2px solid #7943A4;
}

.contacts__social {
  transition: box-shadow 0.3s ease;
}

.contacts__social:hover {
  box-shadow: 0 0 20px rgba(157, 92, 208, 0.7);
}


[class*='ground-pane'] {
  filter: grayscale(1);
}
.ymaps-2-1-78-copyright__content-cell,
.ymaps-2-1-78-map-copyrights-promo {
  display: none;
}

/* FOOTER */

.footer {
  padding: 48px 0 43px;
  background-color: #000000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
}

.footer__socail {
}

.social-list {
}

.social-list__item:not(:last-child) {
  margin-right: 18px;
}

.social__link {
}

.social-list__img {
  color: #cacaca;
  transition: color 0.5s ease;
}

.social__link:focus,
.social__link:focus .social-list__img,
.social__link:hover .social-list__img {
  color: #C283F3;
  outline: none;
}
