:root {
  --violet: #9D5CD0;
  --white: #ffffff
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
}

.reset {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.white {
  color: var(--white);
}

.section__title {
  font-weight: 400;
  font-size: 48px;
}

/* header */


.header {
  color: var(--white);
  z-index: 1;
}

.header__top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1630px;
}

.header__container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__logo {
  margin-right: 180px;
}

.header__bottom {
  position: relative;
  padding-top: 26px;
  padding-bottom: 23px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.flex {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 63px;
  letter-spacing: 1.1px;
}

.header__link {
  font-weight: 600;
}

.header__link:focus,
.hero__login:focus,
.hero__form:focus,
.hero__item:focus {
  outline: 2px solid #7943A4;
}



.header__link:hover,
.hero__login:hover,
.hero__item:hover .hero__option,
.hero__item:hover .hero__arrow {
  color: #C283F3;
  cursor: pointer;
}

.header__link:active,
.hero__login:active,
.hero__select:active {
  color: #7943A4;
}

.hero__form:hover .hero__btn,
.hero__form:hover .hero__input {
  color: #C283F3;
  border-color: #C283F3;
  cursor: pointer;
}

.hero__login {
  margin-left: auto;
  letter-spacing: 1px;
}

/* dropdown */

.dropdown {
  position: absolute;
  top: 43px;
  padding: 40px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
}
.dropdown__list {

}

.dropdown__item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  background-image: url('../img/dropdown/d1.jpg');
  background-repeat: no-repeat;
}

.dropdown__item:hover,
.dropdown__item:focus {
  outline: 2px solid #9D5CD0;
  cursor: pointer;
}

.dropdown__item:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
  outline: 2px solid #D1A9F0;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__scroll {
}


/* HERO */

.main {
}
.hero {
  position: relative;
  top: -71px;
  padding-top: 71px;
  /* background: url('../img/hero1.jpg') no-repeat;
  background-size: cover; */
}

.swiper-wrapper {
  position: absolute !important;
  top: 0;
}

.swiper-slide > img {
  width: 100%;
  height: 700px;
}

.slider-img {
  object-fit: contain;
}
.hero__list {
  margin-right: 317px;
}

.hero__select {
  padding: 0;
}
.hero__item:not(:last-child) {
  margin-right: 115px;
}
.hero__item {
  position: relative;
  flex-direction: row-reverse;
}
.hero__arrow {
  color: inherit;
}

.hero__select {
  background-color: transparent;
  color: var(--white);
  border: none;
}

.hero__option {
  letter-spacing: 1.1px;
}

.hero__form {
  position: relative;
  z-index: 100;
}

.hero__btn {
  display: block;
  margin-right: 20px;
  width: 22px;
  height: 22px;
  color: var(--white);
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.hero__input {
  width: 220px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
}

.hero__input::placeholder,
.hero__input:-ms-input-placeholder,
.hero__input::-ms-input-placeholder,
.hero__input::-webkit-input-placeholder,
.hero__input::-moz-placeholder {
  color: var(--white);
  letter-spacing: 1px;
}

.hero__container {
  position: relative;
  padding-top: 73px;
  padding-bottom: 122px;
  max-width: 600px;
  color: var(--white);
  font-weight: 700;
  z-index: 5;
}

.hero__title{
  margin-bottom: 20px;
  font-size: 72px;
}

.hero__text {
  margin-bottom: 90px;
  font-size: 18px;
  line-height: 30px;
}

.hero__button {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 700;
  padding: 25px 35px;
  font-size: 18px;
  background-color: var(--violet);
  color: var(--white);
  border: none;
  border-radius: 40px;
}

.hero__button:focus {
  margin: -3px;
  border: 3px solid #7943A4;
  outline: none;
}

.hero__button:hover {
  margin: -3px;
  border: 3px solid #D1A9F0;
  outline: none;
}
.hero__btn:active,
.hero__button:active {
  background-color: #7943A4;
}

/* ABOUT US */

.about-us {
  padding-top: 15px;
  padding-bottom: 67px;
}

.about-us__title {
  margin-bottom: 21px;
}

.about-us__text {
line-height: 32px;
max-width: 1085px;
}
